*{
    margin: 0;
}

h1{
    padding: 50px;
    text-align: center;
    background-color: orange;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 25px;
}

h1::first-letter{
    font-size: 1.50em;
}

p{
    padding: 10px;
    text-align: justify;
    text-indent: 213.7px;
    text-align-last: right ;
}